enable_testing()

# TODO: We're giving exact filenames here.  Don't pretend they're globs.
file(
    GLOB TEST_SOURCES
###MAKTEMPLATE:FOREACH test/test*.cxx
    ###BASENAME###.cxx
###MAKTEMPLATE:ENDFOREACH
    runner.cxx
)

add_executable(runner ${TEST_SOURCES})
target_link_libraries(runner PUBLIC pqxx_shared)
add_test(NAME runner WORKING_DIRECTORY ${CMAKE_RUNTIME_OUTPUT_DIRECTORY} COMMAND runner)

add_subdirectory(unit)
