autom4te.cache
ChangeLog
confdefs.h
config.log
config.status
config/compile
config/test-driver
conftest
conftest.cpp
conftest.err
doc/_build
doc/Doxyfile
doc/html/Reference
doc/html/Tutorial
doc/reference-stamp
doc/tutorial-stamp
include/pqxx/config-*-*.h
include/pqxx/config.h
include/pqxx/stamp-h1
libpqxx.pc
libtool
pqxx-config
test/pqxxlo.txt
tools/pqxxthreadsafety
tools/rmlo
win32/common
**/Makefile
**/Makefile.in
**/*.la
**/*.lo
**/*.o
**/.*.swp
**/.deps
**/.libs
**/*~
**/lint.log
**/lint.trs
**/runner
**/runner.log
**/runner.trs
**/test-suite.log
