autom4te.cache
build-*.out
ChangeLog
CMakeFiles/CMakeTmp
confdefs.h
config.log
config.status
conftest
conftest.cpp
conftest.err
libpqxx.pc
libpqxx-*.tar.gz
libtool
pqxx-config
win32/common
**/*.out
**/.*.swp
**/.swp
**/*.tmp
**/*~
**/lint.log
**/lint.trs
