Source: libpqxx
Section: libs
Priority: optional
Maintainer: Greg Hookey <debian@deadly.ca>
Build-Depends: debhelper (>> 3.0.0),postgresql-dev
Standards-Version: 3.5.9

Package: libpqxx-dev
Section: devel
Architecture: any
Depends: libpqxx0 (= ${Source-Version})
Description: C++ library to connect to PostgreSQL (development files)
 Header files for linking against libpqxx. This package obsoletes
 the libpqpp-dev package.

Package: libpqxx0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: C++ library to connect to PostgreSQL
 C++ library to enable user programs to communicate with
 the PostgreSQL database backend. The database backend can
 be local or it may be on another machine, accessed via
 TCP/IP. This package obsoletes the libpqpp package.
