# CircleCI config for automated test builds triggered from Github.
---
version: 2.1

orbs:
  win: circleci/windows@5.0


jobs:

  # Run tests against a Linux Docker image.
  test-linux:
    parameters:
      os:
        type: string
      compiler:
        type: string
      cxx_version:
        type: string
    docker:
      - image: << parameters.os >>
    # The resource_class feature allows configuring CPU and RAM resources for
    # each job.  Different resource classes are available for different
    # executors.
    # https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install
          command: "./tools/install-deps.sh << parameters.os >> >/tmp/vars.sh"
      - store_artifacts:
          path: "/tmp/install.log"
      - store_artifacts:
          path: "/tmp/vars.sh"
      - run:
          name: Autogen
          command: ". /tmp/vars.sh && ./autogen.sh"
      - run:
          name: Configure
          command: ". /tmp/vars.sh && ./configure \
                --enable-maintainer-mode --enable-audit \
                --enable-shared --disable-static \
                CXX=<< parameters.compiler >> \
                CXXFLAGS=\"-O1 -std=<< parameters.cxx_version >>\""
      - store_artifacts:
          path: config.log
      - run:
          name: Gather config headers
          command: "tar -czf config-headers.tar.gz include/pqxx/config-*.h*"
      - store_artifacts:
          path: config-headers.tar.gz
      - run:
          name: Make
          command: make -j4
      - run:
          name: Start database
          command: ". /tmp/vars.sh && ./tools/run-test-postgres.sh"
      - store_artifacts:
          path: postgres.log
      - run:
          name: Test
          command: . /tmp/vars.sh && make -j4 check
      - store_artifacts:
          path: test-suite.log
      - store_artifacts:
          path: postgres.log

  test-macos:
    parameters:
      compiler:
        type: string
      cxx_version:
        type: string
    macos:
      xcode: 16.4.0
    steps:
      - checkout
      - run:
          name: Install
          command: "./tools/install-deps.sh macos >/tmp/vars.sh"
      - store_artifacts:
          path: "/tmp/install.log"
      - store_artifacts:
          path: "/tmp/vars.sh"
      - run:
          name: Configure
          command: ". /tmp/vars.sh && autoreconf && ./configure \
                --enable-maintainer-mode --enable-audit \
                --enable-shared --disable-static \
                CXX=<< parameters.compiler >> \
                CXXFLAGS=\"-O1 -std=<< parameters.cxx_version >>\""
      - store_artifacts:
          path: config.log
      - run:
          name: Gather config headers
          command: "tar -czf config-headers.tar.gz include/pqxx/config-*.h*"
      - store_artifacts:
          path: config-headers.tar.gz
      - run:
          name: Make
          command: make -j4
      - run:
          name: Start database
          command: ". /tmp/vars.sh && mkdir -p \"$PGDATA\" && \
              initdb --pgdata \"$PGDATA\" --auth trust --nosync && \
              pg_ctl -l postgres.log start && \
              createdb \"$(whoami)\""
      - store_artifacts:
          path: postgres.log
      - run:
          name: Test
          command: ". /tmp/vars.sh && make -j4 check"
      - store_artifacts:
          path: test-suite.log
      - store_artifacts:
          path: postgres.log

  # Windows builds are very incomplete for now.  No MSVC, no gcc, no database.
  # Couldn't get them working on CircleCI.
  test-windows:
    parameters:
      compiler:
        type: string
      cxx_version:
        type: string
    executor:
      name: win/default
      size: medium
    steps:
      - checkout
      - run:
          name: Install
          command: "./tools/install-deps.sh windows >vars.sh"
          shell: bash.exe
          # Installation of dependencies on Windows often times out.
          max_auto_reruns: 3
      - store_artifacts:
          path: "/tmp/install.log"
      - store_artifacts:
          path: "vars.sh"
      - run:
          name: Configure
          command: ". vars.sh && \
            CXX=<< parameters.compiler >> \
            CXXFLAGS='-O1 -std=<< parameters.cxx_version >>' \
            mingw64.exe -l -c 'cmake -G \"MinGW Makefiles\" .'"
          shell: bash.exe
      - run:
          name: Gather config headers
          command: "tar -czf config-headers.tar.gz include/pqxx/config-*.h*"
      - store_artifacts:
          path: config-headers.tar.gz
      - run:
          name: Make
          command: ". vars.sh && mingw64.exe -l -c 'mingw32-make -j2'"
          shell: bash.exe

  analyse:
    parameters:
      cxx_version:
        type: string
    docker:
      - image: archlinux
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install
          command: "tools/install-deps.sh archlinux-lint >/tmp/vars.sh"
      - store_artifacts:
          path: "install.log"
      - store_artifacts:
          path: "/tmp/vars.sh"
      - run:
          name: Prepare
          command: "SRC=\"$(pwd)\" && \
            . /tmp/vars.sh && \
            mkdir -p /tmp/pqxx && \
            cd /tmp/pqxx && \
            CXX=clang++ CXXFLAGS='-O0 \
              -std=<< parameters.cxx_version >>' cmake \"$SRC\""
      - run:
          name: Analyse
          # Tricky.  I don't really want the pointless stdout output from
          # run-clang-tidy, except the CI may time out when there's no output
          # for a while.  What we want is the stderr, which we also want to
          # tee into a file.  Bash's "output redirection" solves this neatly,
          # thanks Nick!
          command: "SRC=\"$(pwd)\" && \
            . /tmp/vars.sh && \
            cd /tmp/pqxx && \
            ( \"$SRC/tools/lint\" --full 2> >(tee /tmp/analyze.txt >&2 ) )"
      - store_artifacts:
          path: "/tmp/analyze.txt"
      - run:
          name: Summarise
          command: "grep -v '^[0-9]\\+ warnings generated\\.$' \
              /tmp/analyze.txt | uniq -c >/tmp/errors.txt"
      - store_artifacts:
          path: "/tmp/errors.txt"

workflows:
  all-tests:
    jobs:
      - test-linux:
          matrix:
            parameters:
              os: ["archlinux", "debian", "fedora", "ubuntu"]
              compiler: ["clang++", "g++"]
              cxx_version: ["c++20", "c++23", "c++26"]
            exclude:
              - os: "ubuntu"
                compiler: "g++"
                cxx_version: "c++26"

      - test-macos:
          matrix:
            parameters:
              compiler: ["clang++", "g++"]
              cxx_version: ["c++20", "c++23", "c++26"]

      - test-windows:
          matrix:
            parameters:
              # For totally unclear reasons, this won't work with g++.
              compiler: ["clang++", "g++"]
              cxx_version: ["c++20", "c++23", "c++26"]

      - analyse:
          matrix:
            parameters:
              cxx_version: ["c++26"]
