# CircleCI config for automated test builds triggered from Github.
---
version: 2.1

orbs:
  win: circleci/windows@5.0


jobs:

  # Run tests against a Linux Docker image.  We repeat this for various
  # distros, but macOS & Windows need separate configs even if they're largely
  # identical to this one.
  test-linux:
    parameters:
      os:
        type: string
      compiler:
        type: string
      cxx_version:
        type: string
    docker:
      - image: << parameters.os >>
    # The resource_class feature allows configuring CPU and RAM resources for
    # each job.  Different resource classes are available for different
    # executors.
    # https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large
    steps:
      - checkout

      - run:
          name: Install
          command: "time ./tools/install-deps.sh \
              << parameters.os >> << parameters.compiler >> >/tmp/vars.sh"
      - store_artifacts:
          path: "/tmp/install.log"
      - store_artifacts:
          path: "/tmp/vars.sh"

      - run:
          name: Autogen
          command: ". /tmp/vars.sh && autoreconf"
      - run:
          name: Configure
          command: ". /tmp/vars.sh && ./configure \
                --enable-maintainer-mode --enable-audit \
                --enable-shared --disable-static \
                CXX=<< parameters.compiler >> \
                CXXFLAGS=\"-O1 -std=<< parameters.cxx_version >>\""
      - store_artifacts:
          path: config.log
      - run:
          name: Gather config headers
          command: "tar -czf config-headers.tar.gz include/pqxx/config-*.h*"
      - store_artifacts:
          path: config-headers.tar.gz
      - run:
          name: Make
          command: make -j4
      - run:
          name: Start database
          command: ". /tmp/vars.sh && ./tools/run-test-postgres.sh postgres"
      - store_artifacts:
          path: postgres.log
      - run:
          name: Test
          command: . /tmp/vars.sh && make -j4 check
      - store_artifacts:
          path: test-suite.log
      - store_artifacts:
          path: postgres.log

  test-macos:
    parameters:
      compiler:
        type: string
      cxx_version:
        type: string
    macos:
      xcode: 16.4.0
    steps:
      - checkout
      - run:
          name: Install
          command: "./tools/install-deps.sh macos << parameters.compiler >> \
              >/tmp/vars.sh"
      - store_artifacts:
          path: "/tmp/install.log"
      - store_artifacts:
          path: "/tmp/vars.sh"
      - run:
          name: Configure
          command: ". /tmp/vars.sh && autoreconf && ./configure \
                --enable-maintainer-mode --enable-audit \
                --enable-shared --disable-static \
                CPPFLAGS=\"-I/opt/homebrew/opt/libpq/include/\" \
                CXX=<< parameters.compiler >> \
                CXXFLAGS=\"-O1 -std=<< parameters.cxx_version >>\" \
                LDFLAGS=\"-L/opt/homebrew/opt/libpq/lib\""
      - store_artifacts:
          path: config.log
      - run:
          name: Gather config headers
          command: "tar -czf config-headers.tar.gz include/pqxx/config-*.h*"
      - store_artifacts:
          path: config-headers.tar.gz
      - run:
          name: Make
          command: make -j4
      - run:
          name: Start database
          command: ". /tmp/vars.sh && ./tools/run-test-postgres.sh"
      - store_artifacts:
          path: postgres.log
      - run:
          name: Test
          command: ". /tmp/vars.sh && make -j4 check"
      - store_artifacts:
          path: test-suite.log
      - store_artifacts:
          path: postgres.log

  # Windows builds are very incomplete for now.  No MSVC, no gcc, no database.
  # Couldn't get them working on CircleCI.
  test-windows:
    parameters:
      compiler:
        type: string
      cxx_version:
        type: string
    executor:
      name: win/default
      size: medium
    steps:
      - checkout
      - run:
          name: Install
          command: "./tools/install-deps.sh \
              windows << parameters.compiler >> >vars.sh"
          shell: bash.exe
          # Installation of dependencies on Windows often times out.
          max_auto_reruns: 3
      - store_artifacts:
          path: "/tmp/install.log"
      - store_artifacts:
          path: "vars.sh"
      - run:
          name: Configure
          # (Run the msys bash, not the one we get from CircleCI.)
          command: ". vars.sh && bash.exe -c \". vars.sh && \
            CXX=<< parameters.compiler >> \
            CXXFLAGS='-O1 -std=<< parameters.cxx_version >>' \
            cmake -G Ninja .\""
          shell: bash.exe
      - run:
          name: Gather config headers
          # (Run the msys bash, not the one we get from CircleCI.)
          command: ". vars.sh && \
              bash -c 'tar -czf config-headers.tar.gz include/pqxx/config-*.h'"
          shell: bash.exe
      - store_artifacts:
          path: config-headers.tar.gz
      - run:
          name: Make
          command: bash -c ". vars.sh && ninja"
          shell: bash.exe
      - run:
          name: Start database
          command: ". vars.sh && ./tools/run-test-postgres.sh"
          shell: bash.exe
      - store_artifacts:
          path: postgres.log
      - store_artifacts:
          path: postgres-start-stdout.log
      - store_artifacts:
          path: postgres-start-stderr.log
      - run:
          name: Test
          command: ". vars.sh && ./test/runner"
          shell: bash.exe
      - store_artifacts:
          path: test-suite.log
      - store_artifacts:
          path: postgres.log

  analyse:
    parameters:
      cxx_version:
        type: string
    docker:
      - image: archlinux
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install
          command: "time tools/install-deps.sh \
              archlinux-lint clang++ >/tmp/vars.sh"
      - store_artifacts:
          path: "install.log"
      - store_artifacts:
          path: "/tmp/vars.sh"
      - run:
          name: Configure
          command: "SRC=\"$(pwd)\" && \
            . /tmp/vars.sh && \
            mkdir -p /tmp/pqxx && \
            cd /tmp/pqxx && \
            CXX=clang++ CXXFLAGS='-O0 \
              -std=<< parameters.cxx_version >>' cmake \"$SRC\""
      - run:
          name: Analyse
          # Tricky.  I don't really want the pointless stdout output from
          # run-clang-tidy, except the CI may time out when there's no output
          # for a while.  What we want is the stderr, which we also want to
          # tee into a file.  Bash's "output redirection" solves this neatly,
          # thanks Nick!
          #
          # The actual lint errors seem to go to stdout, with the useless
          # progress output, not to stderr.
          command: "SRC=\"$(pwd)\" && \
            . /tmp/vars.sh && \
            cd /tmp/pqxx && \
            ( \"$SRC/tools/lint.sh\" --full > >(tee /tmp/analyze.txt >&2 ) \
            2>&1 )"
          # The "tee" holds up output for a long time, causing the CI to call a
          # timeout after 10 minutes and kill our job.  Request an extension.
          no_output_timeout: 30m
      - store_artifacts:
          path: "/tmp/analyze.txt"
      - run:
          name: Summarise
          # Filter out the useless nonsense in the output: number of warnings
          # generated for system headers, timings, and number of files.
          #
          # Also run a "uniq" to eliminate redundant blank lines.
          #
          # Negate the outcome of the final grep so that this will report a
          # failure if we find any errors.
          command: "grep -v '^[0-9]\\+ warnings generated\\.$' \
              /tmp/analyze.txt | \
              grep -v '^ *\\[.*\\] .*clang-tidy.*\\.cxx$' | \
              grep -v '^Running clang-tidy for [0-9]* files*' | \
              uniq >errors.txt"
      - store_artifacts:
          path: "errors.txt"
      - run:
          name: Check for errors
          # Fails if errors.txt contains actual text.
          command: ! grep -q . /tmp/errors.txt

  infer:
    parameters:
      cxx_version:
        type: string
    docker:
      - image: archlinux
    steps:
      - checkout
      - run:
          name: Install
          command: "tools/install-deps.sh archlinux-infer g++ >/tmp/vars.sh"
      - store_artifacts:
          path: "install.log"
      - store_artifacts:
          path: "/tmp/vars.sh"
      - run:
          name: Configure
          command: ". /tmp/vars.sh && autoreconf && \
            ./configure \
                CXX=g++ CXXFLAGS='-O0 -g -std=<< parameters.cxx_version >>'"
      - run:
          name: Capture
          command: infer capture -- make check TESTS=
      - run:
          name: Infer
          command: "infer analyze --bufferoverrun --datalog --loop-hoisting \
              --siof-check-iostreams -- \
              make check TESTS= 1> >(tee infer.log) 2> >(tee stderr.log)"
      - store_artifacts:
          path: stderr.log
      - store_artifacts:
          path: infer.log
      - run:
          name: Gather results
          command: "( \
              grep -v '^Analy[sz]ing block' stderr.log | \
              grep -v '^Found [0-9]* source files to analy[sz]e' | \
              grep -v '^[a-z0-9._/-]* starting$' | \
              grep -v '^[a-z0-9._/-]* DONE$' | \
              uniq \
              ) >errors.txt || true"
      - store_artifacts:
          path: errors.txt

workflows:
  all-tests:
    jobs:
      - analyse:
          matrix:
            parameters:
              cxx_version: ["c++26"]

      - infer:
          matrix:
            parameters:
              cxx_version: ["c++20"]

      - test-linux:
          matrix:
            parameters:
              os: ["archlinux", "debian", "fedora", "ubuntu"]
              compiler: ["clang++", "g++"]
              cxx_version: ["c++20", "c++23", "c++26"]
            exclude:
              - os: "ubuntu"
                compiler: "g++"
                cxx_version: "c++26"

      - test-macos:
          matrix:
            parameters:
              compiler: ["clang++", "g++"]
              cxx_version: ["c++20", "c++23", "c++26"]

      - test-windows:
          matrix:
            parameters:
              compiler: ["clang++", "g++"]
              cxx_version: ["c++20", "c++23", "c++26"]
