Source: libpqxx
Section: libs
Priority: optional
Maintainer: Eugene V. Lyubimkin <jackyf.devel@gmail.com>
Uploaders: Martin Pitt <mpitt@debian.org>
Build-Depends: debhelper (>> 5.0.0), libpq-dev (>= 8.0.3), chrpath, libtool
Standards-Version: 3.8.0
Homepage: http://pqxx.org

Package: libpqxx-dev
Section: libdevel
Architecture: any
Depends: libpq-dev (>= 8.0.3-1), libpqxx-3.1 (= ${binary:Version}), pkg-config
Suggests: libpqxx-doc
Description: C++ library to connect to PostgreSQL (development files)
 C++ library to enable user programs to communicate with
 the PostgreSQL database back-end.
 .
 This package contains header files for linking against libpqxx. Obsoletes
 the libpqpp-dev package.

Package: libpqxx-doc
Section: doc
Architecture: all
Suggests: libpqxx-dev (>= ${binary:Version})
Conflicts: libpqxx-dev (<< 3.0.0~)
Replaces: libpqxx-dev (<< 2.6.9-7)
Description: C++ library to connect to PostgreSQL (documentation)
 C++ library to enable user programs to communicate with
 the PostgreSQL database back-end.
 .
 This package contains documentation and examples.

Package: libpqxx-3.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: C++ library to connect to PostgreSQL
 C++ library to enable user programs to communicate with
 the PostgreSQL database back-end. The database back-end can
 be local or it may be on another machine, accessed via
 TCP/IP. This package obsoletes the libpqpp package.

Package: libpqxx-3.1-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libpqxx-3.1 (= ${binary:Version})
Description: C++ library to connect to PostgreSQL (debugging symbols)
 C++ library to enable user programs to communicate with
 the PostgreSQL database back-end.
 .
 This package contains debugging symbols for the libpqxx library. It is usually
 needed to get a useful backtrace when applications using the libpqxx library
 crashes.

