if(NOT PostgreSQL_INCLUDE_DIRS)
    find_package(PostgreSQL REQUIRED)
endif()

# TODO: We're giving exact filenames here.  Don't pretend they're globs.
file(
    GLOB UNIT_TEST_SOURCES
###MAKTEMPLATE:FOREACH test/unit/*.cxx
    ###BASENAME###.cxx
###MAKTEMPLATE:ENDFOREACH
)

add_executable(unit_runner ${UNIT_TEST_SOURCES})
target_link_libraries(unit_runner PUBLIC pqxx_shared)
target_include_directories(unit_runner PRIVATE ${PostgreSQL_INCLUDE_DIRS})
add_test(
    NAME unit_runner
    WORKING_DIRECTORY ${CMAKE_RUNTIME_OUTPUT_DIRECTORY}
    COMMAND unit_runner)
