#MAINTAINERCLEANFILES=Makefile.in

EXTRA_DIST = Makefile.am.template

# Use the serial test runner, so tests don't get run in parallel.  Otherwise,
# output from test failures will be hidden away in log files where we can't
# see them when running in a build slave.
AUTOMAKE_OPTIONS=serial-tests


AM_CPPFLAGS = -I$(top_builddir)/include -I$(top_builddir)/test -I$(srcdir)/.. -I$(srcdir)/../../include ${POSTGRES_INCLUDE}

DEFAULT_INCLUDES=

MAINTAINERCLEANFILES=Makefile.in

runner_SOURCES = \
###MAKTEMPLATE:FOREACH test/unit/test_*.cxx
  ###BASENAME###.cxx \
###MAKTEMPLATE:ENDFOREACH
  runner.cxx

runner_LDADD = $(top_builddir)/src/libpqxx.la ${POSTGRES_LIB}

TESTS = runner
check_PROGRAMS = ${TESTS}

# ###MAKTEMPLATE:FOREACH test/unit/test_*.cxx
# ###BASENAME###_SOURCES = ###BASENAME###.cxx
# ###BASENAME###_LDADD = $(top_builddir)/src/libpqxx.la ${POSTGRES_LIB}

